* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #080a09;
    color: #eef2ef;
    font-family: Tahoma, Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #35d35a;
    font-size: 48px;
}
